* text=auto

.gitattributes text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.gradle text eol=lf
*.kts text eol=lf
*.kt text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.py text eol=lf
*.sh text eol=lf
gradlew text eol=lf

*.jar binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.db binary
